<%= form_with(model: staff) do |form| %>
<% if staff.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% staff.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :library_id, class: label_class %>
          <%= form.select :library_id, options_from_collection_for_select(Library.all, 'id', 'library_id', selected = staff.library_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :staffid, class: label_class %>
          <%= form.text_field :staffid, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :staffname, class: label_class %>
          <%= form.text_field :staffname, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :staffphone, class: label_class %>
          <%= form.text_field :staffphone, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :salary, class: label_class %>
          <%= form.text_field :salary, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :department_id, class: label_class %>
          <%= form.select :department_id, options_from_collection_for_select(Department.all, 'id', 'departmentname', selected = staff.department_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if staff.persisted? %>
<%= link_to "Cancel", staff, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", staffs_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
