<div id="<%= dom_id book_review %>">
  <p>
    <strong>Library:</strong>
    <%= book_review.library_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= book_review.member_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_review.book_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book_review.rating_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= book_review.comment %>
  </p>

  <p>
    <strong>Reviewdate:</strong>
    <%= book_review.reviewdate %>
  </p>

</div>
