<div id="<%= dom_id book_place %>">
  <p>
    <strong>Library:</strong>
    <%= book_place.library_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_place.book_id %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= book_place.floor_id %>
  </p>

  <p>
    <strong>Shelve:</strong>
    <%= book_place.shelve %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= book_place.row %>
  </p>

</div>
