<div id="<%= dom_id manager %>">
  <p>
    <strong>Managerid:</strong>
    <%= manager.managerid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= manager.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= manager.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

</div>
