<div id="<%= dom_id library %>">
  <p>
    <strong>Library:</strong>
    <%= library.library_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

  <p>
    <strong>No staff:</strong>
    <%= library.no_staff %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= library.manager_id %>
  </p>

</div>
