<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Library</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to libraries_path, class: button_class(theme: "transparent") do %>
      All Libraries
      <% end %>
      <%= link_to edit_library_path(@library), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Library:</p>
        <p><%= @library.library_id %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @library.address %></p>
      </li>
      <li>
        <p class="font-semibold">No staff:</p>
        <p><%= @library.no_staff %></p>
      </li>
      <li>
        <p class="font-semibold">Manager:</p>
        <p><%= @library.manager.managerid %></p>
      </li>
  </ul>
</div>
