<div id="<%= dom_id book %>">
  <p>
    <strong>Library:</strong>
    <%= book.library_id %>
  </p>

  <p>
    <strong>Bookid:</strong>
    <%= book.bookid %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Avaibility:</strong>
    <%= book.avaibility %>
  </p>

</div>
