<%= form_with(model: floor) do |form| %>
<% if floor.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% floor.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :floor_number, class: label_class %>
          <%= form.text_field :floor_number, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if floor.persisted? %>
<%= link_to "Cancel", floor, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", floors_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
