<div id="<%= dom_id loan %>">
  <p>
    <strong>Loanid:</strong>
    <%= loan.loanid %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= loan.library_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= loan.member_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Loan date:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= loan.due_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= loan.return_date %>
  </p>

</div>
