<div id="<%= dom_id member %>">
  <p>
    <strong>Library:</strong>
    <%= member.library_id %>
  </p>

  <p>
    <strong>Memberid:</strong>
    <%= member.memberid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= member.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Membership status:</strong>
    <%= member.membership_status %>
  </p>

</div>
